@use "../sass-utils/index" as *;

*{
    margin: 0px;
    padding: 0px;
    
}
body{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
    background-color: $bgcolor;
    font-family: $font_poppins;
    color:$font_color ;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

