@use "../abstract/variables" as *;

.tickdiv{
    &--green{
      
        padding: 30px;
        display: none;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        text-align: center;
        background-color: greenyellow;
        span{
            font-size: 4rem;
        }
        p{
            margin-top: -5px;
            font-size: 20px;
        }
    }
    &--red{
        display: none;
        padding: 30px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        text-align: center;
        background-color: red;
        span{
            font-size: 4rem;
        }
        p{
            margin-top: -5px;
            font-size: 20px;
        }
    }
        
}