@use "../abstract/variable&fonts" as *;
@use "../components/mediaquery" as mediaQuery;

@mixin movie-view-btn(){
    padding: 5px 10px;
    background-color: $green;
    color: black;
    text-transform: capitalize;
    border: none;
    transition: ease 200ms;
    border-radius: 8px;
    &:hover{
       outline: 2px solid $favblack;
       opacity: 0.8;
       outline-offset: 2px;
    }
    @include mediaQuery.mediaquery(xsm){
        font-size: 10px;
        padding: 2px 5px;
     }
}

@mixin headinglinks(){
    display: flex;
        padding: 5px 10px;
        justify-content: space-between;
        border-bottom: 2px $white solid;
        border-top: 2px $white solid;
        text-decoration: none;
        text-transform: capitalize;
        color: $green;
        opacity: 0.8;
        text-shadow:  rgb(255, 255, 255,0.2) 1px 1px 3px;
        @include mediaQuery.mediaquery(xsm){
            font-size: 10px;
              }
}