
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Poppins:wght@300;600&display=swap');
$noto: 'Noto Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$green : rgb(175 253 85);
$white :white;
$favblack : #1c271cc2;



