@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Poppins:wght@300;600&display=swap');

$natosnasfont: 'Noto Sans', sans-serif;
$poppinsfont: 'Poppins', sans-serif;

$pink :#F31559;
$white :#EEEDED;
$black : #272829;
$gray : #9E9FA5;
